# =========================
# Python
# =========================
__pycache__/
*.py[cod]

# =========================
# Virtual Environment
# =========================
venv/
env/

# =========================
# Environment (IMPORTANT)
# =========================
.env

# =========================
# Database
# =========================
*.db
*.db-shm
*.db-wal

# =========================
# Cache
# =========================
.pytest_cache/

# =========================
# Logs
# =========================
*.log

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Build files
# =========================
*.tmp
*.bak